.main-stat-container {
	position: relative;
	left: 50px;
	top: 50px;
	img {
		max-width: none;
	}

	.stat-window-img {
		position: absolute;
		left: 0px;
		top: 0px;	
	}
	
	.name {
		position: absolute;
		left: 75px;
		top: 32px;
	}
	.job {
		position: absolute;
		left: 75px;
		top: 50px;
	}
	.guild {
		position: absolute;
		left: 75px;
		top: 68px;
	}
	.fame {
		position: absolute;
		left: 75px;
		top: 86px;
	}
	.att_low {
		position: absolute;
		left: 75px;
		top: 105px;
	}
	.att_high {
		position: absolute;
		left: 75px;
		top: 122px;
	}
	.stat_hp {
		position: absolute;
		left: 75px;
		top: 140px;
	}
	.stat_mp {
		position: absolute;
		left: 75px;
		top: 157px;
	}
	.stat_r {
		position: absolute;
		left: 70px;
		top: 198px;
		font-size: 11px;
	}
	.stat_str {
		position: absolute;
		left: 75px;
		top: 227px;
	}
	.stat_dex {
		position: absolute;
		left: 75px;
		top: 245px;
	}
	.stat_int {
		position: absolute;
		left: 75px;
		top: 263px;
	}
	.stat_luk {
		position: absolute;
		left: 75px;
		top: 281px;
	}
}

.aux-stat-container {
	position: relative;
	left: 260px;
	top: 50px;
	img {
		max-width: none;
	}

	.aux-stat-img {
		position: absolute;
		left: 0px;
		top: 0px;	
	}
	
	.att_low {
		position: absolute;
		left: 75px;
		top: 44px;
	}
	.att_high {
		position: absolute;
		left: 75px;
		top: 62px;
	}
	.damage {
		position: absolute;
		left: 75px;
		top: 80px;
	}
	.boss_damage {
		position: absolute;
		left: 188px;
		top: 80px;
	}
	.final_damage {
		position: absolute;
		left: 75px;
		top: 98px;
	}
	.buff_duration {
		position: absolute;
		left: 188px;
		top: 98px;
	}
	.ignore_def {
		position: absolute;
		left: 75px;
		top: 116px;
	}
	.item_drop_rate {
		position: absolute;
		left: 188px;
		top: 116px;
	}
	.meso_drop_rate {
		position: absolute;
		left: 188px;
		top: 133px;
		font-size: 11px;
	}
	.crit_rate {
		position: absolute;
		left: 75px;
		top: 133px;
	}
	.crit_damage {
		position: absolute;
		left: 75px;
		top: 152px;
	}
	.status_res {
		position: absolute;
		left: 75px;
		top: 169px;
	}
	.stance {
		position: absolute;
		left: 188px;
		top: 169px;
	}
	.def {
		position: absolute;
		left: 75px;
		top: 188px;
	}
	.speed {
		position: absolute;
		left: 75px;
		top: 207px;
	}
	.att_speed {
		position: absolute;
		left: 188px;
		top: 152px;
	}
	.jump {
		position: absolute;
		left: 75px;
		top: 224px;
	}
	.star_force {
		position: absolute;
		left: 188px;
		top: 188px;
	}
	.arcane_force {
		position: absolute;
		left: 188px;
		top: 207px;
	}
	.authentic_force {
		position: absolute;
		left: 188px;
		top: 224px;
	}
}

.equip-grid-container {
	position: relative;
	left: 500px;
	top: 39px;
	img {
		max-width: none;
	}
	
	.equip-grid-img {
		position: absolute;
		left: 0px;
		top: 0px;	
	}

	.ring1 {
		position: absolute;
		left: 15px;
		top: 51px;
	}
	.ring2 {
		position: absolute;
		left: 15px;
		top: 91px;
	}
	.ring3 {
		position: absolute;
		left: 15px;
		top: 132px;
	}
	.ring4 {
		position: absolute;
		left: 15px;
		top: 173px;
	}
	.pocket {
		position: absolute;
		left: 15px;
		top: 213px;
	}

	.pendant1 {
		position: absolute;
		left: 56px;
		top: 91px;
	}
	.pendant2 {
		position: absolute;
		left: 56px;
		top: 132px;
	}
	.belt {
		position: absolute;
		left: 56px;
		top: 213px;
	}

	.weapon {
		position: absolute;
		left: 56px;
		top: 173px;
	}
	.extra_acc1 {
		position: absolute;
		left: 56px;
		top: 51px;
	}
	.extra_acc2 {
		position: absolute;
		left: 138px;
		top: 51px;
	}
	.book {
		position: absolute;
		left: 18px;
		top: 258px;
	}

	.hat {
		position: absolute;
		left: 97px;
		top: 53px;
	}
	.face_acc {
		position: absolute;
		left: 97px;
		top: 93px;
	}
	.eye_acc {
		position: absolute;
		left: 97px;
		top: 132px;
	}
	.top {
		position: absolute;
		left: 97px;
		top: 173px;
	}
	.bottom {
		position: absolute;
		left: 97px;
		top: 213px;
	}
	.overalls {
		position: absolute;
		left: 97px;
		top: 173px;
	}
	.shoes {
		position: absolute;
		left: 97px;
		top: 258px;
	}
	.earrings1 {
		position: absolute;
		left: 138px;
		top: 132px;
	}

	.shoulder {
		position: absolute;
		left: 138px;
		top: 173px;
	}
	.gloves {
		position: absolute;
		left: 138px;
		top: 213px;
	}
	.android {
		position: absolute;
		left: 138px;
		top: 258px;
	}
	.android_heart {
		position: absolute;
		left: 179px;
		top: 258px;
	}

	.emblem {
		position: absolute;
		left: 179px;
		top: 51px;
	}
	.badge {
		position: absolute;
		left: 179px;
		top: 91px;
	}
	.medal {
		position: absolute;
		left: 179px;
		top: 132px;
	}
	.secondary_weapon {
		position: absolute;
		left: 179px;
		top: 175px;
	}
	.cape {
		position: absolute;
		left: 179px;
		top: 213px;
	}
}

.inventory-window {
	position: relative;
	left: 800;
	top: 450px;
	img {
		max-width: none;
	}

	.inventory-slot {
		background-color: cyan;
		position:absolute;
		&:hover {
			background-color: blue;
		}
		border: 1px solid red;
	}

	.inventory-mesos {
		position: absolute;
		// background-color: red;
		width: 42px;
		height: 16px;
		left: 8px;
		top: 391px;

		&:hover {
			// background-color: blue;

		}
	}

	.inventory-points {
		position: absolute;
		width: 82px;
		height: 16px;
		left: 229px;
		top: 391px;

		&:hover {
			// background-color: blue;

		}
	}
}

* {

	font-size: 10px;
	font-family: arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//
	cursor: url(../../../assets/static/cursor/maple_arrow.cur), auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

	.eqp-icon img:hover {
		cursor: url(../../../assets/static/cursor/maple_helpsel.cur), help;
		background-color: blue;
	}
	.eqp-icon img:active {
		cursor: url(../../../assets/static/cursor/maple_move.cur), all-scroll;
	}
	a {
		color: black;
		text-decoration: none;
	}
}

.eqp-icon {
	border: 1px solid red;
	height: 38px;
	width: 38px;
	text-align: center;
	display: flex;
	justify-content: center;
	img {
		margin: auto;
		display: block;
	}
}

// Specific to equipment tooltip

.tooltip-container {
	position: absolute;
	pointer-events: none;
	display: none;
	height: auto;
	color: white;
	width: 375px;

	.tooltip-content {
		background-color: rgb(0, 0, 0, 0.8);
		border-radius: 10px;
	}

	.tooltip-setbonus {
		background-color: rgb(0, 0, 0, 0.8);
		border-radius: 10px;
		display: none;
	}

	&.tooltip-active {
		display: block;
	}

	.eq-damage-inc {
		font-size: xx-large;
	}

	.eq-img {
		width: 100px;
		height: 100px;
	}

	.eq-name {
		text-align: center;
	}

	.eq-rarity {
		text-align: center;
	}

	.eq-tradability {
		text-align: center;
	}

	.eq-dmg-container {
		p {
			font-size: 8px;
		}
		.eq-damage-inc-label {
			font-size: 10px;
			text-align: right;
		}
		.eq-damage-inc {
			font-size: 35px;
			font-weight: 600;
		}
		border: 5px solid red;
	}

	.eq-img-container {
		border: 5px solid red;
		.eq-img {
			background-image: url("/assets/static/equipment/Black_Bean_Mark.png");
			background-position: center center;
			background-size: contain;
			width: 75px;
			height: 75px;
			border: 5px solid blue;
			background-repeat: no-repeat;
			display: inline-block;
		}
	}
}

// Reset
p {
	margin-bottom: 0px!important;
	margin-top: 0px!important;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	// margin: 0;
	// padding: 0;
	// font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	min-height: 100vh;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

li {
	// why are they separated?
}

// todo 1 hour concentrate on getting html right

// todo 3 hours, get stats right, get all stats right
// todo 2 hours save eq data in service and then go react

// note, let's not do the char fully.

// todo 5 hours, get ability to drag and drop