<div>
<p>tableau works!</p>
<div class="main-stat-container">
	<picture>
		<source srcset="../assets/static/base/main_stat_window.png">
		<img class="stat-window-img" src="../assets/static/base/main_stat_window.png">
	</picture>

	<a class="name">Omnibaal</a>
	<a class="job">Demon Avenger</a>
	<a class="guild">Nebulous</a>
	<a class="fame">166</a>
	<a class="att_low">31M 141K 542</a>
	<a class="att_high">~ 34M 221K 473</a>
	<a class="stat_hp">500000/500000</a>
	<a class="stat_mp">500000/500000</a>
	<a class="stat_r">0</a>
	<a class="stat_str">4233 (4+4229)</a>
	<a class="stat_dex">3845 (4+3842)</a>
	<a class="stat_int">2570 (4+2566)</a>
	<a class="stat_luk">2287 (4+2283)</a>
</div>

<!-- FUTURE: NOTE: This stat window is for the FULL maple.
The TTRPG will not use so many stats (and at the same time will
use many more. New stat details has to be built.)-->
<div class="aux-stat-container">
	<picture>
		<source srcset="../assets/static/base/aux_stat_window.png">
		<img class="aux-stat-img" src="../assets/static/base/aux_stat_window.png">
	</picture>

	<a class="att_low">40M 000K 000</a>
	<a class="att_high">~ 50M 000K 000</a>
	<a class="damage">106%</a>
	<a class="boss_damage">200%</a>
	<a class="final_damage">50%</a>
	<a class="buff_duration">30%</a>
	<a class="ignore_def">98.5%</a>
	<a class="item_drop_rate">3%</a>
	<a class="meso_drop_rate">2%</a>
	<a class="crit_rate">99%</a>
	<a class="crit_damage">58%</a>
	<a class="status_res">30%</a>
	<a class="stance">100%</a>
	<a class="def">554</a>
	<a class="speed">150</a>
	<a class="att_speed">Fast</a>
	<a class="jump">200</a>
	<a class="star_force">2000</a>
	<a class="arcane_force">2000</a>
	<a class="authentic_force">2000</a>

</div>

<div class="equip-grid-container" 
(drop)="drop($event)" (dragover)="allowDrop($event)">
	<picture>
		<source srcset="../assets/static/base/equip_window.png">
		<img class="equip-grid-img" src="../assets/static/base/equip_window.png">
	</picture>

	<div class="eqp-icon ring1" [draggable]="true" (dragstart)="drag($event)">
		<img src="../assets/static/equipment/Endless_Terror.png">
	</div>
	<div class="eqp-icon ring2">
		<img src="../assets/static/equipment/Noble_Ifia's_Ring.png">
	</div>
	<div class="eqp-icon ring3">
		<img src="../assets/static/equipment/Silver_Blossom_Ring.png">
	</div>
	<div class="eqp-icon ring4">
		<img src="../assets/static/equipment/Guardian_Angel_Ring.png">
	</div>
	<div class="eqp-icon pocket">
		<img src="../assets/static/equipment/Pink_Holy_Cup.png">
	</div>

	<div class="eqp-icon pendant1">
		<img src="../assets/static/equipment/Dominator_Pendant.png">
	</div>
	<div class="eqp-icon pendant2">
		<img src="../assets/static/equipment/Daybreak_Pendant.png">
	</div>
	<div class="eqp-icon earrings1">
		<img src="../assets/static/equipment/Estella_Earrings.png">
	</div>
	<div class="eqp-icon face_acc">
		<img src="../assets/static/equipment/Berserked.png">
	</div>
	<div class="eqp-icon eye_acc">
		<img src="../assets/static/equipment/Magic_Eyepatch.png">
	</div>
	<div class="eqp-icon belt">
		<img src="../assets/static/equipment/Tyrant_Belt.png">
	</div>

	<div class="eqp-icon shoulder">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Shoulder.png">
	</div>
	<div class="eqp-icon weapon">
		<img src="../assets/static/equipment/Arcane_Umbra_Two-Handed_Hammer.png">
	</div>
	<div class="eqp-icon hat">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Hat.png">
	</div>
	<div class="eqp-icon top">
		<img src="../assets/static/equipment/Eternal_Knight_Armor.png">
	</div>
	<div class="eqp-icon bottom">
		<img src="../assets/static/equipment/Eternal_Knight_Pants.png">
	</div>
	<div class="eqp-icon overalls">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Suit.png">
	</div>
	<div class="eqp-icon gloves">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Gloves.png">
	</div>
	<div class="eqp-icon shoes">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Shoes.png">
	</div>
	<div class="eqp-icon cape">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Cape.png">
	</div>

	<div class="eqp-icon secondary_weapon">
		<img src="../assets/static/equipment/Arcane_Umbra_Knight_Gloves.png">
	</div>

	
	<div class="eqp-icon emblem">
		<img src="../assets/static/equipment/Mitra's_Rage_Warrior.png">
	</div>
	<div class="eqp-icon badge">
		<img src="../assets/static/equipment/Genesis_Badge.png">
	</div>
	<div class="eqp-icon medal">
		<img src="../assets/static/equipment/Seven_Day_Monster_Parker.png">
	</div>

	
	<div class="eqp-icon android">
		<img src="../assets/static/equipment/Battle-Roid.png">
	</div>
	<div class="eqp-icon android_heart">
		<img src="../assets/static/equipment/Outlaw_Heart.png">
	</div>
	<div class="eqp-icon book">
		<img src="../assets/static/equipment/Frenzy_Totem.png">
	</div>
	
	<div class="eqp-icon extra_acc1">
		<img src="../assets/static/equipment/Meister_Earring.png">
	</div>
	<div class="eqp-icon extra_acc2" [draggable]="true" (dragstart)="drag($event)">
		<img src="../assets/static/equipment/Scarlet_Ring.png">
	</div>
</div>

<button class="btn btn-primary">Test</button>

<div class="inventory-window" id="inventory"
(drop)="drop($event)" (dragover)="allowDrop($event)">
	<picture>
		<source srcset="../assets/static/base/inventory_window.png">
		<img class="equip-grid-img" src="../assets/static/base/inventory_window.png">
	</picture>

	<div class="inventory-mesos">

	</div>

	<div class="inventory-points">

	</div>

	<div class="inventory-slot">

	</div>
</div>

<!--TODO Use {} handle-bar'd data -->
<!-- Tooltip -->
<div class="tooltip-container row" id="item-tooltip" [ngClass]="{'tooltip-active': tooltipActive}">
	<div class="col-sm tooltip-content mx-2 my-2">
		<div class="eq-header">
			<div class="eq-stars row justify-content-center"> <!-- first row (15) -->
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled me-3"></i>

				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star filled me-3"></i>

				<i class="icon-ms-star filled"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
			</div>
			<div class="eq-stars row justify-content-center"> <!-- second row (10)-->
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star me-3"></i>

				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
				<i class="icon-ms-star"></i>
			</div>
		</div>
		<p class="eq-name">Arcane Shade Baselard</p><p class="eq-scrolls-used">(+4)</p>
		<p class="eq-rarity">(Legendary Item)</p><p class="eq-unicity">(Unique)</p>
		<p class="eq-tradability">Untradable</p>
		<div class="eq-img-body">
			<div class="row">
				<div class="col-sm eq-img-container">
					<div class="eq-img">
					</div>
					<div class="eq-potential-border">
						<!-- Border potential -->
		
					</div>
					<div class="eq-flame-dot dot">
						Blue Dot ()
					</div>
					<div class="eq-season-dot dot">
						Blue Dot ()
					</div>
				</div>
				<div class="col-sm eq-dmg-container">
					<p class="eq-damage-inc-label">ATT INCREASE</p>
					<p class="eq-damage-inc">103345</p>
					
					<div class="row">
						<span class="eq-req-level-label">() REQ LVL: 130</span>
					</div>			
					<div class="row">
						<div class="col-sm">
							<p class="eq-req-strength-label">() REQ STR: 200</p>
						</div>
						<div class="col-sm">
							<p class="eq-req-luk-label">() REQ LUK: 400</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">			
							<p class="eq-req-dex-label">() REQ DEX: 200</p>
						</div>			
						<div class="col-sm">			
							<p class="eq-req-int-label">() REQ INT: 000</p>
						</div>			
					</div>
				</div>
			</div>
		</div>
		<div class="eq-special-stats-bar row">
			<div class="col-sm eq-defence-up row">
				<i class="icon-ms-special mdef col-sm"></i><p class="col-sm">0%</p>
			</div>
			<div class="col-sm eq-magic-defence-up row">
				<i class="icon-ms-special def col-sm"></i><p class="col-sm">0%</p>
			</div>
			<div class="col-sm eq-boss-damage row">
				<i class="icon-ms-special ied col-sm"></i><p class="col-sm">0%</p>
			</div>
			<div class="col-sm eq-ignore-enemy-defence row">
				<i class="icon-ms-special bd col-sm"></i><p class="col-sm">0%</p>
			</div>
		</div>
		<div class="eq-class-list row">
			<div class="col-sm"><p>BEGINNER</p></div>
			<div class="col-sm"><p>WARRIOR</p></div>
			<div class="col-sm"><p>MAGICIAN</p></div>
			<div class="col-sm"><p>BOWMAN</p></div>
			<div class="col-sm"><p>THIEF</p></div>
			<div class="col-sm"><P>PIRATE</P></div>
		</div>
		<div class="eq-stat-body">
			<div class="row"><p class="col-sm eq-stat-str">STR: +12</p>				<p class="col-sm eq-stat-str-bonus">(0 +12)</p></div>
			<div class="row"><p class="col-sm eq-stat-dex">DEX: +79</p>				<p class="col-sm eq-stat-dex-bonus">(20 +59)</p></div>
			<div class="row"><p class="col-sm eq-stat-int">INT: +12</p>				<p class="col-sm eq-stat-int-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-luk">LUK: +12</p>				<p class="col-sm eq-stat-luk-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-hp">HP: +12</p>				<p class="col-sm eq-stat-hp-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-mp">MP: +12</p>				<p class="col-sm eq-stat-mp-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-wep">WEAPON ATTACK: +210</p>	<p class="col-sm eq-stat-wep-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-def">WEAPON DEF: +12</p>		<p class="col-sm eq-stat-def-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-stat-acc">ACCURACY: +12</p>		<p class="col-sm eq-stat-acc-bonus">(35 +53)</p></div>
			<div class="row"><p class="col-sm eq-scroll-remaining">NUMBER OF UPGRADES AVAILABLE: +0</p></div>
			<div class="row"><p class="col-sm eq-hammers-remaining">GOLDEN HAMMERS APPLIED: 2 MAX</p></div>
			<!-- <p class="eq-enhancements-applied">10 Enhancement Applied</p> -->
		</div>
		<div class="eq-potential-body">
			<p class="eq-potential-rarity"><i class="icon-ms-potential epic filled"></i> Potential</p>
			<p class="eq-potlines-1">TOTAL DAMAGE +12%</p>
			<p class="eq-potlines-2">TOTAL DAMAGE +12%</p>
			<p class="eq-potlines-3">BOSS DAMAGE +40%</p>
		</div>
		<div class="eq-bonus-potential-body">
			<p class="eq-potential-rarity"><i class="icon-ms-potential unique filled"></i> Additional Potential</p>
			<p class="eq-potlines-1">+ 3% chance to recover 53 HP when attacking</p>
			<p class="eq-potlines-2">+ Magic Def: +100</p>
			<p class="eq-potlines-3">+ DEX: +12</p>
		</div>
		<div class="eq-soul-body">
			<p class="eq-soul-name">Swift Crimson Queen Soul Applied</p>
			<p class="eq-soul-charge">100/1000 (ATT+9, Magic ATT:+0)</p>
			<p class="eq-soul-effect">DEX+24</p>
		</div>
		<div class="eq-footer">
			<!-- <p class="eq-additional-effect"></p> -->
			<p class="eq-karma-text">Use the Platinum Scissors of Karma to enable trading...</p>
			<p class="eq-karma-r">9 Trades left</p>
		</div>
	</div>

	<div class="col-sm tooltip-setbonus mx-2 my-2">
		<p class="eq-setbonus-name">Boss Accessory Set</p>
		<div class="eq-accessory-setitems">
			<ul>
				<li><p>Arcane Shade Hat</p></li>
				<li><p>Arcane Shade Top</p></li>
				<li><p>Arcane Shade Bottom</p></li>
				<li><p>Arcane Shade Shoulder</p></li>
				<li><p>Arcane Shade Cape</p></li>
				<li><p>Arcane Shade Gloves</p></li>
				<li><p>Arcane Shade Shoes</p></li>
				<li><p>Arcane Shade Weapon</p></li>
			</ul>
		</div>
		<div class="eq-accessory-setbenefits">
			<div>
				<ul>
					<li><div>
						<p class="eq-seteffect-label">3 Set Effect:</p>
						<div class="eq-seteffect-lines">
							<ul>
								<li>ATT +10</li>
								<li>Max HP 5%</li>
							</ul>
						</div>
					</div></li>
					<li>5: y</li>
					<li>7: z</li>
				</ul>
			</div>
		</div>
		<div class="eq-test">
			<i class="icon-ms-star filled">30 test</i>
		</div>
		<div class="eq-comments">

	</div>
</div>

</div>