$ivory: #ffecd1;
$teal: #15616d;
$navy: #001524;
$orange: #ff7d00;
$brick: #78290f;

// Sizes
$xl: 1199px; // -1 to fit xl l md s xs (.bs)
$l: 991px;
$md: 767px;
$s: 575px; // >
$xs: 574px; // <

$mdp: 768px; // md plus